@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
:root {
  --snow: white;
  --grey: #f7f7f7;
  --checkout-button-bg: #3e45aa;
  --checkout-button-text: #a2dcf5;
  --button-bg: #f7f7f7;
  --button-text: #3e45aa;
  --h: #5b6092;
  --h1: #272939;
  --p: #5d6393;
  --p1: #C0C0C0;
  --p2: grey;
  --price-p: #4d53b1;
  --counter: #a2dbf5;
  --rose: #d5bbc0;
  --red: #ea6275;
  --blue: #23d1c5;
  --black: #2f2a2c;
  --star-icon: #fdd446;
  --cubic: .2s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin:0;
  font-family: 'Oxygen', sans-serif;
  background: var(--rose);
  background-color: var(--cubic);
  transition: var(--cubic);
}
h {
  color: var(--h);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1em;
}
h1 {
  color: var(--h1);
  font-size: 1em;
  text-transform: capitalize;
}
p {
  color: var(--p);
  font-size: 0.9em;
  margin: 5px 0px 0px 10px;
}
p1 {
  font-size: 0.8em;
  font-weight: 600;
  color: var(--p1);
  padding: 10px;
  text-transform: capitalize;
}
p2 {
  font-size: 0.9em;
  text-transform: capitalize;
  color: var(--p2);
  font-weight: 600;
}
p3 {
  color: var(--price-p);
  font-weight: 600;
  font-size: 0.8em;
}
ion-icon {
  font-size: 1.1em;
  color: var(--h1);
}
#back, #next {
  font-size: 2em;
}
#star {
  color: var(--star-icon);
}
#cart {
  color :var(--button-text);
  font-size: 1.5em;
}
#delete-all {
  color: var(--p1);
}
#add, #minus {
  transition: .4s;
  padding: 5px;
  font-size: 0.9em;
}
#add:hover, #minus:hover {
  background: var(--bg);
  border-radius: 50%;
}
#selected-qty {
  margin:0;
  padding:0;
}
#selected-name {
  font-size: 0.8em;
}
main {
  min-height: 100vh;
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.product-wrapper, .cart-wrapper {
  height: 500px;
  width: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background: var(--snow);
}
.cart-wrapper {
  display: none;
}
header {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.product-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 230px;
  width: 300px;
}
#main-shoe {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  transition: var(--cubic);
}
.product-description {
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 300px;
  border-radius: 15px;
  background: var(--grey);
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 300px;
  margin: 5px 0px 0px 0px;
}
.dot {
  height: 20px;
  width: 20px;
  margin: 5px;
  border-radius: 50%;
}
#rose {
  background: var(--rose);
}
#red {
  background: var(--red);
}
#blue {
  background: var(--blue);
}
#black {
  background: var(--black);
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 300px;
  background: var(--snow);
  border-radius: 15px;
}
.price h1 {
  font-size: 1.8em;
}
button {
  outline: none;
  border: none;
}
.cart-btn {
  border-radius: 15px;
  padding: 8px;
  width: 150px;
  background: var(--button-bg);
  color: var(--button-text);
  font-size: 0.8em;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.size-btn {
  border-radius: 8px;
  padding: 5px;
  color: var(--h);
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px;
  transition: .4s;
}
.size-btn:hover {
  background: var(--bg);
  cursor: pointer;
}
.cart-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 440px;
  width: 300px;
  border-radius: 25px;
  background: var(--grey);
  transition: var(--cubic);
}
.list-wrapper {
  width: 280px;
  height: 75px;
  margin-top: 10px;
  border-radius: 15px;
  background: var(--snow);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mini-pic {
  height: 60px;
  width :60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.info, .quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
  width: 120px;
}
.quantity {
  width: 50px;
  height: 75px;
}
.quantity p {
  color: var(--h1);
}
@media screen and (max-width: 600px)
{
  main {
    flex-direction: column;
  }
}